.wrapper {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}

.main img {
  width: 200px;
  height: auto;
}

.wrapper 
@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .main {
    width: 250px;
  }

  .main img {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 425px) {
  .main {
    width: 100%;
  }
}
