.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  padding: 10px 20px;
}

.navbar ul {
  display: flex;
}

.navbar li {
  text-decoration: none;
  margin-left: 16px;
}

.navbar li:hover {
  color: var(--primary-color);
}

.logo {
  color: var(--secondary-color);
}

.logo:hover {
  color: var(--primary-color);
}
