.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search input,
.search button {
  padding: 10px 5px;
  border: none;
}

.search button {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}
