@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --primary-color: #3f72af;
  --secondary-color: #112d4e;
  --tertiary-color: #dbe2ef;
  --body-background-color: #f9f7f7;
  --black: #111827;
}

* {
  outline-color: var(--tertiary-color);
}

body {
  background-color: var(--body-background-color);
  color: var(--secondary-color);
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
  padding: 15px 0;
}

main {
  padding: 0 20px;
}
